@using RealtimeChat.Models
@model User

@{
    ViewBag.Title = "Details";
}


<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
               Thông Tin Tài Khoản : @Model.ShowName
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        Tên Đăng Nhập       : @Model.UserName<br />
        Địa Chỉ Mail        : @Model.Email<br />
        Thời Điểm Gia Nhập  : @Model.CreatedAt<br />
    </div>
</section>