@using RealtimeChat.Models
@model User

@{
    ViewBag.Title = "Details";
}


<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.ShowName
            </h1>
            <h2 class="subtitle">
                Details
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

    </div>
</section>