
@{
    ViewBag.Title = "DeletePost";
}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Delete a room
            </h1>
        </div>
    </div>
</section>

<section class="section content">
    <p>This room has been deleted successfully.</p>
    <p><a href="/rooms">Go back</a></p>
</section>